{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/style.css">
<body>
<a class="btn btn-success" href='/'>Home</a>
<a class="btn btn-danger" href='/logout/'>Logout</a>
<h1 class="title">Recipe</h1>
<ul>
    <h2 class="title2"><li>Title: {{recipe.title}}</li></h2>
    <h2 class="title2"><li>Author: <a href='/author/{{recipe.author.id}}/' class="recipelink">{{recipe.author}}</a></li></h2>
    <h2 class="title2"><li>Description: {{recipe.description}}</li></h2>
    <h2 class="title2"><li>Time Required: {{recipe.time_required}}</li></h2>
    <h2 class="title2"><li>Instructions: <br>{{recipe.instructions}}</li></h2>
</ul>
</body>
{% endblock %}